<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<Q_CSMS.Connection>C:\Users\SSF PC\Documents\Development\tws_foundation\server\TWS Foundation\CSM Security.Quality\CSMS.Connection\quality.connection.json</Q_CSMS.Connection>
			<Q_TWSB.Connection>C:\Users\SSF PC\Documents\Development\tws_foundation\server\TWS Foundation\TWS Business.Quality\TWSB.Connection\quality.connection.json</Q_TWSB.Connection>
			<Q.Identity>qly_runner</Q.Identity>
			<Q.Password>qlyrunner$2024</Q.Password>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>