**/.DS_Store

**/.vs/
/server/TWS Admin/Server.Quality/Private/AccountIdentityPrivates.cs
/server/TWS Admin/Server.Quality/Secrets/Account.cs
/server/TWS Admin/Server.Quality/Secrets/Constants.cs
/server/TWS Foundation/TWS Foundation/Properties/PublishProfiles/FolderProfile.pubxml
/server/TWS Foundation/developer.runsettings
/server/TWS Foundation/nuget.config
/server/TWS Foundation/TWS Business/twsb.dev.connection.json
/server/TWS Foundation/nuget.config
/server/TWS Foundation/TWS Business/quality.connection.json
/server/TWS Foundation/CSM Security/CSMS.Connection/csms.dev.connection.json
/server/TWS Foundation/CSM Security/CSMS.Connection/security_quality.connection.json
/server/TWS Foundation/CSM Security/CSMS.Connection/security_quality.connection.json
/server/TWS Foundation/CSM Security/CSMS.Connection/security_quality.connection.json
client/tws_foundation_client/.env
client/tws_foundation_client/test_configs.dart
server/developer.runsettings
server/nuget.config
server/TWS Foundation/TWS Business/csms.dev.connection.json
