**/.DS_Store

**/.vs/
/server/TWS Admin/Server.Quality/Private/AccountIdentityPrivates.cs
/server/TWS Admin/Server.Quality/Secrets/Account.cs
/server/TWS Admin/Server.Quality/Secrets/Constants.cs
/server/TWS Foundation/TWS Foundation/Properties/PublishProfiles/FolderProfile.pubxml
